// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-grey: #ccdce14a;
$light-orange: #ffedc561;

$header-footer: #291720f4;
$header-footer-opacity: #291720de;
$background: #FBFBFF;
$background-btn: #ffffffd6;
$pastel-purple: #8D6B94;
$pastel-purple-opacity: #8d6b945d;
$orange-btn: #FF934F;
$input-bg: #ffffffb8;
$input-bg-focus: #fffffff5;

$ex-footer: #ffc862ce;
