.results {
  border: 1px solid $light-grey;
  max-height: 250px;
  overflow: scroll;

  li {
    font-size: 14px;
    padding: 10px 5px;

    &:nth-child(odd) {
      background-color: $light-orange;
    }
  }
}
