.results {
  overflow: scroll;
  max-height: 180px;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  li {
    padding: 10px 5px;
    font-size: 13px;

    &:nth-child(odd) {
      background-color: #ccdce14a;
    }
  }
}
