* {
	box-sizing: border-box;
  font-family: $body-font;
	list-style: none;
	margin: 0;
	padding: 0;

	a{
    text-decoration: none;

    &:visited {
      color: black;
    }
  }
}

.toper {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 0 5px;
  top: 55px;
  width: 100%;

  span {
    text-decoration: underline;
  }
}

em {
  font-weight: bold;
}

.hidden {
	display: none;
}

#active {
  background-color: $pastel-purple;
  color: white;
}

body {
  animation: animatedBackground 7.5s ease-in-out infinite;
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
  background-size: 400% 400%;

  .overflow-hidden {
    overflow: hidden;
  }
}

h5 {
  font-size: 17px;
}

.brand {
  font-family: $headers-font;
}
