.index-title {
  h1 {
    text-align: center;
  }
}

#finger-bottom {
  min-height: 55px;
  p {
    font-size: 40px;
    animation: verticalTranslate 1000ms infinite;
  }
}

p {
  text-align: center;
}

.container__index {
  .btn {
    margin: 10px auto;
  }
}

.typing {
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  width: 36ch;
  margin: 0 auto;
}

.typing-2 {
  opacity: 0;
  animation: opacityFrame both, typing 2s steps(22), blink .5s step-end infinite alternate;
  animation-delay: 2s;
  white-space: nowrap;
  overflow: hidden;
  width: 36ch;
  margin: 0 auto;
}
