<footer>
  <ul>
    <li><%= render "shared/btn_landing_page_footer" %></li>
    <li>|</li>
    <li><%= render partial:"shared/btn_add_footer", locals:{meal: @meal} %></li>
    <li>|</li>
    <li><%= render partial:"shared/btn_meal_footer", locals:{meal: @meal} %></li>
  </ul>
</footer>
