<div class="container__form">

  <%= simple_form_for [meal, food] do |f| %>
    <%= f.input :name,
        placeholder: "ex: chocolate",
        autofocus: true,
        required: true
    %>
    <%= f.submit "Search" %>
  <% end %>

</div>
