<div class="container__form">

  <%= simple_form_for [meal, food] do |f| %>
    <%= f.input :name,
        label: "Ingrédient",
        placeholder: "ex: chocolat",
        autofocus: true,
        required: true
    %>
    <%= f.submit "Valider" %>
  <% end %>

</div>
