<div class="container__about">
  <h2>Qu'est ce que <span class="brand">DefCal</span> ?</h2>

  <p><span class="brand">DefCal</span> (Déficite Calorique) est une application pour t'aider à calculer les calories apportées par chacun de tes repas. Le calcul est effectué depuis des données publiques reccueillies sur l'API (une de base de données) <a href="https://world.openfoodfacts.org/" target="_blank">https://world.openfoodfacts.org/</a>. L'objectif n'est pas de te donner un résultat exact, mais plutot une estimation afin de t'aider à atteindre tes objectifs alimentaires.</p>

  <h2>Coup de pouce pour améliorer le résultat de tes recherches</h2>

  <p>Pour retrouver les ingrédients qui composent tes repas, l'idéal est d'indiquer le code barre après avoir entré le nom du produit. De cette façon, tu seras certain.e de selectionner le produit correspondant. Si tu n'as pas cette information à porté de main, tu peux indiquer la marque du produit après son nom. Par exemple : Penne Barilla.</p>
  <p>Si tu t'est trompé dans ta saisie, pas de panique, tu peux modifier tes recherche en cliquant sur "Tu ne trouves pas ? Clique ici".</p>
  <p>Enfin, certains produits ont des noms bien spécifiques. Fais bien attention à saisir le nom indiqué sur le packaging. Par exemple, le <em>parmesant</em> est souvent nommé sous son nom italien : <em>Parmigiano</em>. Si tu n'arrive toujours pas à naviguer dans l'application, contacte moi afin que j'améliore l'UX (expérience utilisateur)</p>

  <h2>Tu as du mal à indiquer les quantités ? 😱</h2>

  <p>Indiquer les quantités consommées n'est pas toujours chose aisée. Pour t'aider, tu peux t'aider de la quantité globale du produit (souvent indiquée après le nom commercial). Par exemple, ce midi j'ai mangé un cordon bleu "Père Dodu" : il y a deux cordons bleus dans la boite, et la quantité totale était de 400g. Je peux donc en déduire que j'en ai mangé 200g ! Quoi qu'il en soit, il s'agit d'une estimation, donc pas de panique si tu te trompes dans les doses 😎</p>

  <h2>Un bug à signaler ?</h2>

  <p>Si tu découvre un bug, n'hésites pas à m'en faire part par mail ou via Linkedin (mes coordonnées se trouvent ci-dessous).</p>

  <h2>Une proposition ?</h2>

  <p>L'application est tout juste sortie de terre 🌱, des améliorations sont bien entendu à venir (par exemple, la possibilité de sauvegarder tes repas favoris). Cependant, n'hésites pas à me joindre si tu souhaites une fonctionnalité particulière, je ferai tout pour la mettre en place rapidement 😊</p>

  <h2>Dernière étape pour atteindre tes objectifs : <strong>Partage si tu as aimé !</strong></h2>

  <p>N'hésites pas à partager l'application avec tes amis si tu as apprécié l'expérience, ça m'encouragerait énormément !</p>

  <h2>Si tu veux me joindre</h2>

  <p>N'hésites surtout pas à prendre contact pour m'aider à améliorer l'application, mieux comprendre son fonctionnement, ou tout simplement pour discuter 😊</p>

  <div class="frame">
    <p>Mail : <a href="mailto:arnaud.rigourd@hotmail.fr">arnaud.rigourd@hotmail</a></p>
    <p>Linkedin : <a href="https://www.linkedin.com/in/arnaudrigourd/" target="_blank">@arnaud.rigourd</a></p>
    <p>GitHub :  <a href="https://github.com/Arnaud-Rigourd" target="_blank">@Arnaud-Rigourd</a></p>
    <p>Mon site :  <a href="https://www.arnaud-rigourd.com" target="_blank">www.arnaud-rigourd.com</a></p>
  </div>

</div>
