<div class="container">
  <p class="btn"><%= link_to "Tous mes menus", meals_index_meals_path %></p>

  <p class="btn"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></p>
</div>

<% console %>
