<div class="container__index">
  <h1>Here are the aked food calories</h1>

  <p>Name: <%= @food['product']['generic_name'] %></p>
  <p>Id: <%= @food['product']['_id'] %></p>
  <p>Code: <%= @food['code'] %></p>

</div>
