<div class="container container__index">
  <h1>Bienvenue sur DefCal !</h1>

  <p>Calcule simplement les calories de tes repas quotidiens</p>

  <h5>Pour commencer, indique le premier ingrédient de ton repas :</h5>

  <%= render partial:"shared/form_new", locals: {meal: @meal, food: @food} %>

</div>
