.btn {
  background-color: whitesmoke;
  border: 1px solid $orange-btn;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 25px;
  box-shadow: 5px 0 10px #00000026;
  opacity: 1;
  transition: opacity 300ms linear, background-color 300ms linear, box-shadow 300ms linear;

  & > a {
    color: $orange-btn;
    text-decoration: none;

    &:visited {
      color: $orange-btn;
    }
  }

  &:active {
    box-shadow: none;
    background-color: white;
  }

  &:hover {
    opacity: 0.8;
  }
}

.btn-meal {
  margin: 5px auto;
  background-color: $background-btn;
  border: 1px solid orangered;
  box-shadow: none;
  border-radius: 25px;

  a{
    color: orangered;
    font-size: 14px;
  }
}
