.btn {
  background-color: blue;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 5px 0 10px #00000026;
  opacity: 1;
  transition: opacity 300ms linear;

  & > a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.btn-meal {
  margin: 5px auto;
  background-color: white;
  border: 1px solid orangered;
  box-shadow: none;
  border-radius: 25px;

  a{
    color: orangered;
    font-size: 14px;
  }
}
