.btn {
  background-color: blue;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 5px 0 10px #00000026;
  opacity: 1;
  transition: opacity 300ms linear;

  & > a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.8;
  }
}
