.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  overflow: scroll;
  padding: 50px 0;
  width: 90vw;

  h5,
  h1 {
    text-align: center;
  }
}

.container__page {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
}

.container__index {
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: space-around;
  width: 90%;
}

.container__form {
  margin: 10px auto;

  h4 {
    text-align: center;
  }
}

.container__form--edit {
  padding-top: 10px;
}
