footer {
  position: fixed;
  background-color: $header-footer;
  bottom: 0;
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;

    li {
      width: 100%;
    }

    a {
      font-size: 25px;
      color: $background;

      &:visited {
        color: $background;
      }
    }
  }
}
