form {
  display: flex;
  flex-direction: column;

  label {
      display: none;
    }

  input[type=submit] {
    background-color: white;
    border: 1px solid $orange-btn;
    color: $orange-btn;
    cursor: pointer;
    margin: 5px auto;
    height: 30px;
    width: fit-content;
    padding: 0 15px;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 300ms linear;
  }
}

input {
  border-radius: 25px;
  border: 1px solid $header-footer;
  font-size: 16px;
  height: 50px;
  margin: 5px auto;
  padding: 0 20px;
  width: 100%;
  background-color: $pastel-purple;

  &[placeholder] {
    color: $header-footer-opacity;
  }

  &:focus-visible {
    background-color: $background;
    border: none;
  }
}
