form {
  display: flex;
  flex-direction: column;

  label {
      display: none;
    }

  input[type=submit] {
    background-color: white;
    border: 1px solid $orange-btn;
    color: $orange-btn;
    cursor: pointer;
    margin: 5px auto;
    height: 40px;
    width: fit-content;
    padding: 0 15px;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 300ms linear;
  }

  .sign-in-up {
    text-align: center;
    margin: 5px auto;
  }
}

input {
  border-radius: 25px;
  border: 1px solid $header-footer;
  font-size: 16px;
  height: 50px;
  margin: 5px auto;
  padding: 0 20px;
  width: 100%;
  background-color: $input-bg;

  &::placeholder {
    color: $header-footer-opacity;
  }

  &:focus-visible {
    background-color: $input-bg-focus;
    border: 2px solid $orange-btn;

    &::placeholder {
      color: grey;
    }
  }
}

.input,
.string,
.food_name,
.numeric {
  &:focus-visible {
    outline: none;
  }
}

.inputs {
  display: flex;
  .inputs-lvl2 {
    margin: 0 5px;
  }
}
